# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Files
hw2/\.vs
hw2/Debug
hw2/*.db
hw2/hw2console/Debug/
hw2/libhw2/Debug/
hw2/hw2console/x64/Debug/
hw2/hw2py/Debug/
hw2/hw2py/x64/Debug/
*.log

hw2/libhw2/x64/Debug/

project/jpeg_comp_cpu/jpeg_comp_cpu\.VC\.db

project/jpeg_comp_cpu/jpeg_comp_cpu\.VC\.VC\.opendb
/project/jpeg_comp_cpu/lena_gray.jpg

project/jpeg_comp_cpu/Debug/
*.bak

project/jpeg_comp_cpu/\.vscode/

project/jpeg_comp_cpu/jpeg_encoder
/project/jpeg_comp_cpu/output.jpg

project/jpeg_comp_cpu/\.vs/jpeg_comp_cpu/v14/\.suo
